<a href="https://colab.research.google.com/github/KingNawat/Class-work/blob/main/review_for_midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('hello')

hello

In [ ]:
a = 10*'a'
print(a)

aaaaaaaaaa

In [ ]:
list('abc')

['a', 'b', 'c']

In [ ]:
list(range(1,6)) #<-- end before the last number

[1, 2, 3, 4, 5]

In [ ]:
#there is also append and delete
#len give us size of the list
#print(0 in list)

In [ ]:
dict = {'one':1, 'two':2, 'three':3}
print(dict['one']) #diffrent from the list in the form of the bracket

1

In [ ]:
dict

{'one': 1, 'three': 3, 'two': 2}

In [ ]:
age = 15
if age > 20:
  print('you are old')
print('You are young')

You are young

In [ ]:
for i in range(0,5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(0,5):
  print('hello', i)

hello 0
hello 1
hello 2
hello 3
hello 4

In [ ]:
for i in ['a', 'b', 'c']:
  print(i)

a
b
c

In [ ]:
for i in range(0,200):
  if (i % 2) == 0:
    print(-1)
  else:
    print(1)

In [ ]:
s = 0
for i in range(1,101):
  s = s+i
print(s)

5050

In [ ]:
x = 0
for i in range(1,101,2):
  x = x+i
for i in range(2,101,2):
  x = x+(1/i)
print(x)

2502.2496026691647

In [ ]:
i=0
while i<10:
  print(i)
  i=i+1
  if i==5:
    break

In [ ]:
x = 0
for i in range(1,10000):
  x = x+i
  if x > 5000:
    break
print(i-1)
#Problem find maximum x such that 1 + 2 + 3 + ... x  < 5000
#using for

99

In [ ]:
import random
x = random.randint(1, 100)
print(x)

In [ ]:
guess = int(input('Guess x '))
print(guess)

In [ ]:
import random
guess = -1
x = random.randint(1, 100)
while guess != x:
  guess = int(input('Guess x '))
  if x > guess:
    print('More than ', guess)
  if x < guess:
    print('Less than ', guess)
  if x == guess:
    print('Correct!!!')

In [ ]:
def printn(text,n):
  for i in range(0,n):
    print(text)

In [ ]:
printn('abc',3)

abc
abc
abc

In [ ]:
def even(x):
  if x%2 == 0:
    return True
  return False
#remember that this is the logic test

In [ ]:
x = int(input('What is your x: '))
if even(x):
  print('x is even')
else:
  print('x is odd')

What is your x: 6
x is even

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
import pandas as pd
import os

In [ ]:
z = 0
for i in range(0,1000):
  z = z+i
  if z > 5000:
    break
print(i-1)

99

In [ ]:
x = int(input('What is your x: '))
y = int(input('WHat is your y: '))
if x*y > 1000:
  print(x*y)
else: 
  print(x+y)

What is your x: 1
WHat is your y: 2
3

In [ ]:
x = 0
for i in range(0,11):
  x = x+i
  print(x)

0
1
3
6
10
15
21
28
36
45
55

In [ ]:
list1 = [1,2,4]
list2 = [1,3,5]

list3 = list1 + list2
(list3)

[1, 2, 4, 1, 3, 5]

In [ ]:
def decimaladd(a,b):
  c = []; carry = 0; z = 0; x = 0
  if len(a) > len(b):
    z = len(a)
    x = len(a)-len(b)
    for i in range (0,x):
      a.insert(i,0)
  else:
    z = len(b)
    x = len(b)-len(a)
    for i in range (0,x):
      a.insert(i,0)
  for i in range(-1,(-z-1),-1):
    result = a[i] + b[i] + carry
    carry = 0
    if result >= 10:
      carry = 1
      result = result - 10
    else: 
      carry = 0
    c = [result] + c
  if carry==1:
    c = [1] + c  
  return c

In [ ]:
decimaladd([3,3,3,5,1],[5,5,5,5])

[8, 8, 9, 0]

In [ ]:
def decimaladd(a,b):
  c = []; carry = 0; z = 0; x = 0
  if len(a) > len(b):
    z = len(a)
    x = len(a)-len(b)
    for i in range (0,x):
      b.insert(i,0)
  else:
    z = len(b)
    x = len(b)-len(a)
    for i in range (0,x):
      a.insert(i,0)
  for i in range(-1,(-z-1),-1):
    result = a[i] + b[i] + carry
    if result >= 10:
      carry = 1
      result = result - 10
    else: 
      carry = 0
    c = [result] + c
  if carry==1:
    c = [1] + c  
  return c

In [ ]:
decimaladd([3,3,3,5,1],[5,5,5,5])

[3, 8, 9, 0, 6]

In [ ]:
credit = int(input('What is your credits: '))
if credit <= 20 and credit >= 12:
  print(15000)
if credit > 20:
  print(1000*(credit-20)+15000)
if credit < 20:
  print(credit*1000)

What is your credits: 21
16000

In [ ]:
x = 0
for i in range(0,100000):
  x = x+(i*(i+1))
  if x > 100000:
    break
print(i-1)

65

In [ ]:
A = []
number = int(input("What is your number: "))
for i in range(1,number+1):
  if number%i == 0:
    A = A + [i]
print(A)

What is your number: 6
[1, 2, 3, 6]

In [ ]:

coin = int(input('Coins amount: '))
if (coin%3)%4 == 0 or (coin%4)%3 == 0:
  x = int(coin/4)
  z = int((coin - (x*4))/3)
  print('4 baths *',x, '3 baths *',z)
else:
  print('No way')

Coins amount: 19
4 baths * 4 3 baths * 1

In [ ]:
year = (input('What is your year: ')) #remember that it isnt int input but normal input sice we need at as word
x = ''
dict = {"1": "one", "2": "two", "3": "three", "4": "four", "5": "five", "6": "six", '7': 'seven', '8': 'eight', '9': 'nine', 'zero':'0'}
for i in range(0,len(year)):
  x = x + dict[year[i]] + ' '
print(x)

What is your year: 2999
two nine nine nine

In [ ]:
def Listsplit[A,n]:

SyntaxError: ignored

In [ ]:
def Listsplit(A,n):
  x = int(len(A)/n)
  z = []
  for i in range(0,len(A),x):
    z = z + [A[i:i+x]]
  return z

In [ ]:
#absolute using if
x = int(input("What is your number: "))
if x < 0:
  x = x*(-1)
else:
  x
print(x)

What is your number: -1
1

In [ ]:
a = [1, 2, 3, 4]
b = [1, 2, 3, 4]
c = []
carry = 0
for i in range(-1,-(len(a)+1),-1):
  print(i)

-1
-2
-3
-4

In [ ]:
for i in range(-1,-5,-1):
  print(i)
  A = [1,2,3,4,5]
  A[-1]

-1
-2
-3
-4

1

In [ ]:
#binary add
a = [0,1,1]
b = [1,1,1,1]
c = []; carry = 0; x = 0
if len(a)>len(b):
  mlen = len(a)
  z = int(len(a) - len(b))
  for i in range(0,z):
    b.insert(0,i)
else:
  mlen = len(b)
  z = int(len(b) - len(a))
  for i in range(0,z):
    a.insert(0,i)
for i in range(-1,-mlen-1,-1):
  x = a[i] + b[i] + carry
  if x >= 2:
    carry = 1
    x = x - 2
  else:
    carry = 0
  c = [x] + c
if carry == 1:
  c = [1] + c
print(c)

[1, 0, 0, 1, 0]

In [ ]:
from google.colab import drive
import pandas as pd
import os
drive.mount('/content/gdrive')
os.chdir('/content/gdrive/My Drive/Pandas/')  
df_xp = pd.read_excel('ThaiExport.xlsx',sheet_name='Export')
df_pn = pd.read_excel('ThaiExport.xlsx',sheet_name='Partner')

Mounted at /content/gdrive

In [ ]:
df_xp

      Year Trade Flow Partner ISO Commodity  Netweight (kg)  Trade Value (US$)
0     2017     Export         WLD      Rice    1.167433e+10         5186570155
1     2017     Export         ALB      Rice    1.630000e+06             705929
2     2017     Export         DZA      Rice    4.751785e+07           18337258
3     2017     Export         AGO      Rice    3.965032e+08          153991156
4     2017     Export         AZE      Rice    5.000000e+05             183999
...    ...        ...         ...       ...             ...                ...
1756  2016     Export         UZB    Rubber    0.000000e+00              48367
1757  2016     Export         VEN    Rubber    0.000000e+00            6241297
1758  2016     Export         WSM    Rubber    0.000000e+00              27123
1759  2016     Export         YEM    Rubber    0.000000e+00            4784153
1760  2016     Export         ZMB    Rubber    0.000000e+00              32223

[1761 rows x 6 columns]

In [ ]:
df_xp.head()

   Year Trade Flow Partner ISO Commodity  Netweight (kg)  Trade Value (US$)
0  2017     Export         WLD      Rice    1.167433e+10         5186570155
1  2017     Export         ALB      Rice    1.630000e+06             705929
2  2017     Export         DZA      Rice    4.751785e+07           18337258
3  2017     Export         AGO      Rice    3.965032e+08          153991156
4  2017     Export         AZE      Rice    5.000000e+05             183999

In [ ]:
df_xp = df_xp.sort_values(by=['Partner ISO','Year'])
df_xp

      Year Trade Flow Partner ISO Commodity  Netweight (kg)  Trade Value (US$)
1506  2016     Export         ABW      Rice         73550.0              58523
1689  2016     Export         ABW    Rubber             0.0                312
97    2017     Export         ABW      Rice         95261.0              73765
742   2017     Export         ABW    Rubber             0.0                688
255   2018     Export         ABW      Rice         48980.0              61973
...    ...        ...         ...       ...             ...                ...
980   2018     Export         ZWE    Rubber             0.0            1830385
441   2019     Export         ZWE      Rice       5092184.0            2074600
1177  2019     Export         ZWE    Rubber             0.0            3567589
594   2020     Export         ZWE      Rice      22984000.0           11124204
1375  2020     Export         ZWE    Rubber             0.0            1368842

[1761 rows x 6 columns]

In [ ]:
#can drop rename and create new columns

In [ ]:
df_xp = df_xp.rename(columns = {'Commodity':'Good','Partner ISO':'Dest','Netweight (kg)':'Weight','Trade Value (US$)':'Value'})

In [ ]:
#filter
df_japan = df_xp[df_xp['Dest']=='JPN']
df_japan

      Year Trade Flow Dest    Good       Weight      Value
1475  2016     Export  JPN    Rice  332436233.0  127140290
1653  2016     Export  JPN  Rubber          0.0  744926932
68    2017     Export  JPN    Rice  347465621.0  131242561
706   2017     Export  JPN  Rubber          0.0  942555626
225   2018     Export  JPN    Rice  222511316.0   93634794
902   2018     Export  JPN  Rubber          0.0  840054490
382   2019     Export  JPN    Rice  190388091.0  111395852
1100  2019     Export  JPN  Rubber          0.0  829911793
534   2020     Export  JPN    Rice  258677427.0  116705291
1300  2020     Export  JPN  Rubber          0.0  787937766

In [ ]:
df_japan17 = df_japan[df_japan['Year']==2017]
df_japan17

     Year Trade Flow Dest    Good       Weight      Value
68   2017     Export  JPN    Rice  347465621.0  131242561
706  2017     Export  JPN  Rubber          0.0  942555626

In [ ]:
df_japan17Rice = df_japan17[df_japan17['Good']=='Rice']
df_japan17Rice

    Year Trade Flow Dest  Good       Weight      Value
68  2017     Export  JPN  Rice  347465621.0  131242561

In [ ]:
df_japan17_19 = df_japan[(df_japan['Year']==2017) | (df_japan['Year']==2019)]   #|  = or
df_japan17_19

      Year Trade Flow Dest    Good       Weight      Value
68    2017     Export  JPN    Rice  347465621.0  131242561
706   2017     Export  JPN  Rubber          0.0  942555626
382   2019     Export  JPN    Rice  190388091.0  111395852
1100  2019     Export  JPN  Rubber          0.0  829911793

In [ ]:
df_xp

      Year Trade Flow Dest    Good      Weight     Value
1506  2016     Export  ABW    Rice     73550.0     58523
1689  2016     Export  ABW  Rubber         0.0       312
97    2017     Export  ABW    Rice     95261.0     73765
742   2017     Export  ABW  Rubber         0.0       688
255   2018     Export  ABW    Rice     48980.0     61973
...    ...        ...  ...     ...         ...       ...
980   2018     Export  ZWE  Rubber         0.0   1830385
441   2019     Export  ZWE    Rice   5092184.0   2074600
1177  2019     Export  ZWE  Rubber         0.0   3567589
594   2020     Export  ZWE    Rice  22984000.0  11124204
1375  2020     Export  ZWE  Rubber         0.0   1368842

[1761 rows x 6 columns]

In [ ]:
df_xp.head(1)

      Year Trade Flow Dest  Good   Weight  Value
1506  2016     Export  ABW  Rice  73550.0  58523

In [ ]:
df_pn.head(1)

  Partner Partner ISO
0   World         WLD

In [ ]:
df_merge = df_xp.merge(df_pn,left_on='Dest',right_on='Partner ISO')
df_merge

NameError: ignored

In [ ]:
change = int(input('What is your change: ')); a = []; b = 0

In [ ]:
def coinchange(banknote, totalchange):
  change = {}
  remain = totalchange
  for i in banknote:
    change[i] = int(remain/i) #This is adding to dictionary
    remain = remain - change[i]*i
  return change


banknotes = [100, 50, 20, 1]
coinchange(banknotes,777)

{1: 7, 20: 1, 50: 1, 100: 7}

In [ ]:
A = [100, 50, 20, 1]
b = {}
b[100] = int(500)
b[100] #This become the definition of the 100 which is 500

500

In [ ]:
x = '123' #must be in string
for i in x:
  print(i)

1
2
3

In [ ]:
A = []
x = []
for i in range(100,1000):
  x = x + [i]
  print(x)
  for b in x:
    z = z + (int(i)**3)
    if x == z:
      A = A + [x]

IndentationError: ignored

In [ ]:
A = []
A = A + [2]
print(A)

[2]

In [ ]:
A = []
x = []
for i in range(100,1000):
  x = x + [i]
print(x)
  for b in x:

IndentationError: ignored

In [ ]:
A = [1,2,4,3]
for i in A:
  print(i)

1
2
4
3

In [ ]:
A = []
x = []
k = 0
for i in range(100,1000):
  x = x + [i]
for b in x:
  b = str(b)
  for c in b:
    
    k = k + (int(c)**3)
    if k == b:
      A = A + [k]
print(A)

In [ ]:
A = []; x = []; k = []; z = []
for i in range(100,1000):
  x = x + [i]
for b in x:
  b = str(b)
  for c in b:
    k = k + [(int(c)**3)]
for h in range(0,2700,3):
  sumabc = sum(k[h:h+3])   
  A = A + [sumabc]
for i in range (0,900):
  if int(x[i]) == int(A[i]):
    z = z + [x[i]]
print(z)

[153, 370, 371, 407]

In [ ]:
z = []
for i in range(100,1000):
  x = str(i)
  a = x[0]
  b = x[1]
  c = x[2]
  if (int(a)**3 + int(b)**3 + int(c)**3) == i:
    z = z + [i]
print(z)

[153, 370, 371, 407]

In [ ]:
def factorlist(a):
  x = []
  for i in range(1,a+1):
    if a%i == 0:
      x = x + [i]
  return x

  
factorlist(200)

[1, 2, 4, 5, 8, 10, 20, 25, 40, 50, 100, 200]

In [ ]:
x = []
a = 6
for i in range(1,a+1):
  if a%i == 0:
    x = x + [i]
print(x)

[1, 2, 3, 6]

In [ ]:
x = [1,1]
y = [1,1,1]
p = []
result = 0
z = 0
carry = 0
if len(x) > len(y):
  for i in range(0,(len(x)-len(y))):
    y.insert(i,0)
if len(x) < len(y):
  for i in range(0,(len(y)-len(x))):
    x.insert(i,0)
for i in range(-1,-len(x)-1,-1):
  z = x[i] + y[i] + carry
  if z == 3:
    carry = 1
    result = 1
  if z == 2:
    carry = 1
    result = 0
  if z == 1:
    carry = 0
    result = 1
  if z == 0:
    carry = 0
    result = 0
  p = [result] + p
  
if carry == 1:
    p = [1] + p
print(p)

[1, 0, 1, 0]

In [ ]:
x = [0,1,1]
y = [1,1,0]
for i in range(-1,-len(x)-1,-1):
  z = x[i] + y[i] + carry

1
2
1

In [ ]:
def binaryadd(a,b):
  if len(b) >= len(a):
    a = [0]*(len(a)-len(b)) + a
    maxlen = len(a)
  else:
    b = [0]*(len(b)-len(a)) + b 
    maxlen = len(b)
  
  carry = 0;
  c = []
  for i in range(-1,-(maxlen + 1),-1):
    result = a[i] + b[i] + carry
    if result >= 2:
      carry = 1
      result = result - 2
    else: 
      carry = 0
    c = [result] + c

  if carry == 1:
    c = [1] + c
  return c

binaryadd([1,1,1],[1,0,0])

In [ ]:
x = 100
while z < 0:
  for i in range(1,x,2):
    z = i*(i+1)
print(z)

2

In [ ]:
x = 0
while x < 100000:
  for i in range(1,100000,2):
    x = x + (i*(i+1))
    if x > 100000:
      break
print(i-2)

81

In [ ]:
x = 0
for i in range(1,83,2):
  x = x + i*(i+1)
print(x)

93562

In [ ]:
#change
banknote = [1000,500,100,50,20,10,5,2,1]
change = int(input('WHat is your change: '))
carry = 0
z = 0
x =[]

for bank in banknote:
  z = int(change/bank)
  carry = change - (z*bank)
  change = carry
  x = x + [(bank, z)]
print(x)

WHat is your change: 777
[(1000, 0), (500, 1), (100, 2), (50, 1), (20, 1), (10, 0), (5, 1), (2, 1), (1, 0)]

In [ ]:
#change with only 2 100 notes
banknote = [1000,500,100,50,20,10,5,2,1]
change = int(input('WHat is your change: '))
carry = 0
z = 0
x =[]

for bank in banknote:
  if bank == 100:
    z = 2
  else:
    z = int(change/bank)
  carry = change - (z*bank)
  change = carry
  x = x + [(bank, z)]
print(x)

In [ ]:
#guessing numnber
y = -1
import random
x = random.randint(1, 100)
while y != x:
  y = int(input("What is your guess: "))
  if y < x:
    print('Too low')
  if y > x:
    print('Too high')
  if y == x:
    print('You are correct')

In [ ]:
#Listssplit
A = [1,2,3,4,5,6]
n = 3
z = int(len(A)/3)
x = len(A)
y = []
for i in range(0,x,z):
  y = y + [A[i:i+z]]
print(y)

[[1, 2], [3, 4], [5, 6]]

In [ ]:
from google.colab import drive
import pandas as pd
import os

drive.mount('/content/gdrive')
os.chdir('/content/gdrive/My Drive/Pandas/')  
df_xp = pd.read_excel('ThaiExport.xlsx',sheet_name='Export')
df_pn = pd.read_excel('ThaiExport.xlsx',sheet_name='Partner')

Mounted at /content/gdrive

In [ ]:
df_xp

      Year Trade Flow Partner ISO Commodity  Netweight (kg)  Trade Value (US$)
0     2017     Export         WLD      Rice    1.167433e+10         5186570155
1     2017     Export         ALB      Rice    1.630000e+06             705929
2     2017     Export         DZA      Rice    4.751785e+07           18337258
3     2017     Export         AGO      Rice    3.965032e+08          153991156
4     2017     Export         AZE      Rice    5.000000e+05             183999
...    ...        ...         ...       ...             ...                ...
1756  2016     Export         UZB    Rubber    0.000000e+00              48367
1757  2016     Export         VEN    Rubber    0.000000e+00            6241297
1758  2016     Export         WSM    Rubber    0.000000e+00              27123
1759  2016     Export         YEM    Rubber    0.000000e+00            4784153
1760  2016     Export         ZMB    Rubber    0.000000e+00              32223

[1761 rows x 6 columns]

In [ ]:
df_xp1 = df_xp[(df_xp['Partner ISO']=='IDN') | (df_xp['Partner ISO']=='MYS') | (df_xp['Partner ISO']=='PHL') | (df_xp['Partner ISO']=='SGP')] 
df_xp1 = df_xp1[df_xp1['Commodity']=="Rice"]
df_xp1

      Year Trade Flow Partner ISO Commodity  Netweight (kg)  Trade Value (US$)
60    2017     Export         IDN      Rice    1.289083e+08           59795040
81    2017     Export         MYS      Rice    3.025425e+08          123595415
111   2017     Export         PHL      Rice    2.917236e+08          106284257
125   2017     Export         SGP      Rice    1.232033e+08           91066354
217   2018     Export         IDN      Rice    8.128165e+08          368784006
239   2018     Export         MYS      Rice    4.752028e+08          195054006
269   2018     Export         PHL      Rice    1.029584e+09          406239899
284   2018     Export         SGP      Rice    1.042333e+08          102544062
374   2019     Export         IDN      Rice    7.944741e+07           39026038
396   2019     Export         MYS      Rice    1.786805e+08          116426128
424   2019     Export         PHL      Rice    1.589023e+08          124092905
438   2019     Export         SGP      Rice    1.045334e+08           99698081
526   2020     Export         IDN      Rice    8.940625e+07           72241590
548   2020     Export         MYS      Rice    7.339988e+07           35888429
575   2020     Export         PHL      Rice    7.960763e+07           36767781
590   2020     Export         SGP      Rice    1.272952e+08          125020872
1467  2016     Export         IDN      Rice    4.000100e+08          161761338
1490  2016     Export         MYS      Rice    4.341991e+08          172470359
1518  2016     Export         PHL      Rice    3.087259e+08          108234906
1533  2016     Export         SGP      Rice    1.275930e+08           95375392

In [ ]:
df_agg = df_xp1.groupby(by=['Partner ISO',]).sum()
df_agg

              Year  Netweight (kg)  Trade Value (US$)
Partner ISO
IDN          10090    1.510588e+09          701608012
MYS          10090    1.464025e+09          643434337
PHL          10090    1.868543e+09          781619748
SGP          10090    5.868582e+08          513704761

In [ ]:
df_agg

             Netweight (kg)  Trade Value (US$)
Partner ISO
IDN            1.510588e+09          701608012
MYS            1.464025e+09          643434337
PHL            1.868543e+09          781619748
SGP            5.868582e+08          513704761

In [ ]:
df_agg = df_agg.drop(columns = ['Netweight (kg)'])

In [ ]:
df_agg

             Trade Value (US$)
Partner ISO
IDN                  701608012
MYS                  643434337
PHL                  781619748
SGP                  513704761

In [ ]:
df_agg.to_excel('Aggregate.xlsx')

In [ ]:
x = 0
while x < 100000:
  for i in range(1,100000,2):
    x = x + (i*(i+1))
    if x > 100000:
      break
print(i-1)

82

In [ ]:
x = 0
y = 0
for i in range(1,101,2):
  x = x + i
for i in range(2,101,2):
  y = y + 1/i
print(x+y)

2502.2496026691647

In [ ]:
#fizzbuzz
x = int(input('What is your number: '))
if x%3 == 0 and x%5 == 0:
  print('FizzBuzz')
else:
  if x%3 == 0:
    print('Fizz')
  if x%5 == 0:
    print('Buzz')
  if x%3 != 0 and x%5 != 0:
    print(x)

What is your number: 9
Fizz

In [ ]:
#Question 3 driver speed limits
speed = int(input('What is the speed: '))
x = 0
if speed <= 70:
  print('Ok')
if speed > 70:
  x = int((speed - 70)/5)
  if x >= 12:
    print('License suspended')
  else:
    print("Points:", x)

In [ ]:
#Shownumbers
def shownumbers(A):
  for i in range(0,A+1):
    if i%2 == 0:
      z = 'even'
    else:
      z = 'odd'
    print(i, z)
shownumbers(3)

0 even
1 odd
2 even
3 odd

In [ ]:
#sum of multiples of 3 and 5 between 0 and limits
x = int(input('What is your limit: '))
z = []
for i in range(1,x+1):
  if i%3 == 0 or i%5 == 0:
    z = z + [i]
print(z)

What is your limit: 20
[3, 5, 6, 9, 10, 12, 15, 18, 20]

In [ ]:
#Show stars rows
x = int(input('How many rows: '))
print("*" * x)

How many rows: 5
*****

In [ ]:
#Prime number
x = int(input('What is your number: '))
z = 0
y = []
for i in range(1,x+1):
  z = 0
  for a in range(2,i):
    if i%a == 0:
      z = 1
  if z == 0 and i != 1:
    y = y + [i]
  
print(y)

What is your number 10
[2, 3, 5, 7]